@import "../../../variables.scss";
@import "../../../customBootstrap.scss";

@import "./../../../../node_modules/bootstrap/scss/_spinners.scss";

#spinner {
  position: absolute;
  left: 45%;
  top: 40%;
  width: 4em;
  height: 4em;
  z-index: 9999;
}